---
import Image from "astro/components/Image.astro";
import type { SocialNetworkType } from "@src/types";

const { link, src, alt, isMail } = Astro.props;

const href = isMail ? `mailto:${link}` : link;
const width = isMail ? 42 : 32;
---

<a
    href={href}
    target="_blank"
    class="lg:hover:scale-110 transition-transform duration-custom ease-in-out icon flex items-center justify-center"
>
    <Image src={src} alt={alt} width={width} height={32} loading="eager" />
</a>

<style>
    .icon {
        filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(195deg)
            brightness(89%) contrast(93%);

        transition: all 0.3s ease-in-out;
    }
    @media screen and (min-width: 1024px) {
        .icon:hover {
            filter: invert(77%) sepia(60%) saturate(3090%) hue-rotate(202deg)
                brightness(103%) contrast(101%);
        }
    }
</style>
